<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JulyAcademy2"
        tools:targetApi="31">
        <activity
            android:name=".firebasestorageapp.ui.FirebaseStorageApp"
            android:exported="false" />
        <activity
            android:name=".firestoreapp.ui.FireStoreApp"
            android:exported="false" />
        <activity
            android:name=".coroutineapp.CoroutineActivity"
            android:exported="false" />
        <activity
            android:name=".broadcastreceiver.BroadCastReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".notificationapp.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".navigationdrawerapp.fragments.DraftsFragment"
            android:exported="false" />
        <activity
            android:name=".navigationdrawerapp.fragments.SentEmailFragment"
            android:exported="false" />
        <activity
            android:name=".navigationdrawerapp.fragments.StarredFragment"
            android:exported="false" />
        <activity
            android:name=".navigationdrawerapp.fragments.InboxFragment"
            android:exported="false" />
        <activity
            android:name=".navigationdrawerapp.NavigationDrawerAppActivity"
            android:exported="false" />
        <activity
            android:name=".todolistapp.ui.TodolistActivity"
            android:exported="false" />
        <activity
            android:name=".resturantapp.RestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".calculatorapp.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegistrationScreen"
            android:exported="false" />
        <activity
            android:name=".auth.LoginScreen"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>